* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.textbox{
    color: red;
    background: black;
}

.textbox2{
    color: green;
    background: black;
}

.box1 {
    background: #640d14;
    color: #ad2831;
    margin: 20px;
    padding: 90px;
    border: 2px solid #250902;
    width: 50%;
    font-size: 32px;
}

.box2 {
    background: green;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 50%; 
}
