* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


a:link {
    background: black;
    color: white;
    text-decoration: none;
}

a:visited {
    background: violet;
    color: black;
    text-decoration: none;
}


.textbox{
    color: red;
    background: black;
}

.textbox2{
    color: green;
    background: black;
}

.box1 {
    background: #640d14;
    color: #ad2831;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 90px;
    border: 2px solid #250902;
    width: 50%;
    font-size: 32px;
    text-align: center;
}

.box2 {
    background: green;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 50%; 
}


.box3 {
    margin: 20px;
    padding: 10px;
    border-left: 4px solid red;
    border-bottom: 4px solid red;
    width: 70%; 
}


.box4 {
    background: cornsilk;
    color: black;
    margin: 20px;
    padding: 10px;
    width: 70%;
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 8px blueviolet, 10px 10px 8px black;
}


.box5 {
    background: blueviolet;
    margin: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 15px 15px 12px black;
}

.box6 {
    margin: 50px;
    color: crimson;
    font-size: 48px;
    text-shadow: 5px 5px 5px black;
}


.box-mit-effekt {
    background: cornsilk;
    color: black;
    font-size: 24px;
    margin: 50px;
    padding: 12px;
    border: 2px solid red;
    border-radius: 20px;
}

.box-mit-effekt:hover {
    background: coral;
    box-shadow: 15px 15px 12px black;
} 